/* Variables */
:root {
    --primary-color: #222222;
    --secondary-color: #424242;
    --tertiary-color: #848484;
    --quaternary-color: #c6c6c6;
    --primary-accent: #ff4500;
    --border-radius-value: 12px;
}

/* For ease of sizing, border-box is established to include borders and padding any time a size is specified */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Basic recurring styles added here */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--quaternary-color);
}

/* UTILITY CLASSES */
.link-button {
    background-color: var(--primary-accent);
    position: relative;
    transition: transform 0.3s ease;
    margin: 20px;
    border-radius: var(--border-radius-value);
}

.button-content {
    padding: 0px 10px;
    text-shadow: 2px 2px 10px var(--secondary-color);
    color: var(--quaternary-color);
    text-decoration: none;
    font-size: 20px;
}

/* Utility classes - BEGIN BUTTON STYLE */
.link-button::after, .link-button::before {
    content: "";
    position: absolute;
    background-color: var(--primary-accent);
    opacity: 0.3;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.link-button:hover::after {
   transform: translate(6px, 6px);
}

.link-button:hover::before {
   transform: translate(12px, 12px);
}

.link-button:hover {
    transform: translate(-12px, -12px);
}
/* Utility classes - END BUTTON STYLE */

/* Utility classes - BEGIN SECTION HEADINGS */
.section-head-right {
    margin-top: 40px;
    background-color: var(--primary-accent);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    border-radius: var(--border-radius-value) 0px 0px var(--border-radius-value);
    font-size: 44px;
    text-shadow: 4px 4px 10px var(--secondary-color);
}

.section-head-left {
    margin-top: 40px;
    background-color: var(--primary-accent);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 30px;
    border-radius: 0px var(--border-radius-value) var(--border-radius-value) 0px;
    font-size: 44px;
    text-shadow: 4px 4px 10px var(--secondary-color);
    text-align: right;
}
/* Utility classes - END SECTION HEADINGS */
/* END UTILITY CLASSES */

/* BEGIN HEADER */
header {
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    flex-wrap: wrap;
    z-index: 9999;
}

header h1 {
    font-size: 48px;
    padding: 5px 10px 5px 50px;
    margin: 10px 0px;
    background-color: var(--primary-accent);
    border-radius: 0px var(--border-radius-value) var(--border-radius-value) 0px;    
    text-shadow: 4px 4px 10px var(--secondary-color);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0px 20px;
}
/* END HEADER */

/* BEGIN HERO */
.hero {
    background-image: url(../images/clement-helardot-95YRwf6CNw8-unsplash-black-and-white.jpg);
    background-size: cover;
    background-position: 0 35%;
    display: flex;
    justify-content: end;
}

.hero div {
    margin-bottom: 500px;
    position: relative;
    top: 115px;
}

.hero div h1 {
    font-size: 72px;
}

.hero div p {
    font-size: 24px;
}
/* END HERO */

/* BEGIN ABOUT ME */
.about-me {
    background-color: var(--secondary-color);
    display: flex;
}

.about-me img {
    width: 400px;
    float: left;
    margin: 20px;
}

.about-me p {
    padding: 50px;
    margin-right: 100px;
    font-size: 24px;
    line-height: 1.5;
}
/* END ABOUT ME */

/* BEGIN WORK */
.work {
    background-color: var(--tertiary-color);
}

.work-header {
    display: flex;
    justify-content: end;
}

.work-examples {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.work-examples article {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    border-radius: var(--border-radius-value);
    padding: 30px;
    margin: 40px;
    position: relative;
    width: 900px;
}

.work-examples a {
    width: 840px;
}

.work-examples a img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: 0% 0%;
}

.work-examples label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    text-align: center;
    background-color: var(--primary-color);
    opacity: 0.8;
    color: var(--quaternary-color);
    padding: 10px;
    border-radius: var(--border-radius-value);
}

.work-examples article:not(:first-child) {
    width: 450px;
}
/* END WORK */

/* BEGIN CONTACT ME */
.contact-me {
    background-color: var(--quaternary-color);
    display: flex;
    justify-content: space-between;
}

.contact-me h2 {
    margin-bottom: 100px;
}

.contact-me div {
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 100px;
}

.contact-me div h3 {
    font-size: 48px;
    margin-bottom: 20px;
}

.contact-me div address {
    font-size: 24px;
}

.contact-me div address a {
    text-decoration: none;
    font-weight: 600;
    color: var(--primary-color);
}
/* END CONTACT ME */

/* BEGIN FOOTER */
footer {
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer div {
    padding: 15px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h2 {
    margin-top: 15px;
    font-size: 32px;
}

footer p {
    font-size: 24px;
    margin-top: 15px;
}
/* END FOOTER */

/* MEDIA QUERIES FOR SMALLER SCREENS */
/* For smaller monitors and below */
@media screen and (max-width: 980px) {
    .about-me p {
        font-size: 16px;
    }

    .work-examples article {
        padding: 30px;
        margin: 40px;
        width: 700px;
    }
    
    .work-examples a {
        width: 740px;
    }
    
    .work-examples a img {
        width: 100%;
        max-height: 270px;
        object-fit: cover;
        object-position: 0% 0%;
    }
    
    .work-examples label {
        font-size: 24px;
        padding: 5px;
    }
    
    .work-examples article:not(:first-child) {
        width: 350px;
    }

    .contact-me div h3 {
        font-size: 32px;
    }
    
    .contact-me div address {
        font-size: 20px;
    }
}

/* For tablets and below */
@media screen and (max-width: 768px) {

}

/* For mobile phones and below */
@media screen and (max-width: 575px) {
    
}