/* Variables */
:root {
    --primary-color: #222222;
    --secondary-color: #424242;
    --tertiary-color: #848484;
    --quaternary-color: #c6c6c6;
    --primary-accent: #ff4500;
    --border-radius-value: 12px;
}

/* For ease of sizing, border-box is established to include borders and padding any time a size is specified */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Basic recurring styles added here */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--quaternary-color);
}

/* UTILITY CLASSES */
.link-button {
    background-color: var(--primary-accent);
    position: relative;
    transition: transform 0.3s ease;
    margin: 20px;
    border-radius: var(--border-radius-value);
}

.button-content {
    padding: 0px 50px;
    text-shadow: 4px 4px 10px var(--secondary-color);
    color: var(--quaternary-color);
    text-decoration: none;
}

/* Utility classes - BEGIN BUTTON STYLE */
.link-button::after, .link-button::before {
    content: "";
    position: absolute;
    background-color: var(--primary-accent);
    opacity: 0.3;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.link-button:hover::after {
   transform: translate(6px, 6px);
}

.link-button:hover::before {
   transform: translate(12px, 12px);
}

.link-button:hover {
    transform: translate(-12px, -12px);
}
/* Utility classes - END BUTTON STYLE */

.section-head-right {
    margin-top: 6%;
    background-color: var(--primary-accent);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    border-radius: var(--border-radius-value) 0px 0px var(--border-radius-value);
    font-size: 8vh;
}

.section-head-left {
    margin-top: 6%;
    background-color: var(--primary-accent);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 30px;
    border-radius: 0px var(--border-radius-value) var(--border-radius-value) 0px;
    font-size: 8vh;
}

/* END UTILITY CLASSES */

/* BEGIN HEADER */
header {
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    flex-wrap: wrap;
    z-index: 9999;
}

header h1 {
    font-size: 48px;
    padding: 5px 50px;
    margin: 40px 0px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 0px 50px;
    margin: 0px 20px;
    font-size: 3.5vh;
}
/* END HEADER */

/* BEGIN HERO */
.hero {
    background-image: url(../images/clement-helardot-95YRwf6CNw8-unsplash-black-and-white.jpg);
    background-size: cover;
    background-position: 0 35%;
    display: flex;
    justify-content: end;
}

.hero div {
    margin-bottom: 500px;
}

.hero div h1 {
    font-size: 10vh;
}

.hero div p {
    font-size: 2.7vh;
}
/* END HERO */

/* BEGIN ABOUT ME */
.about-me {
    background-color: var(--secondary-color);
    display: flex;
}

.about-me img {
    width: 25%;
    float: left;
    margin: 20px;
}

.about-me p {
    width: 70%;
    margin-left: 25%;
    padding: 3%;
    font-size: 2.7vh;
    line-height: 1.5;
}
/* END ABOUT ME */

/* BEGIN WORK */
.work {
    background-color: var(--tertiary-color);
}

.work-header {
    display: flex;
    justify-content: end;
}

.work-examples {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2%;
}

.work-examples article {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    border-radius: var(--border-radius-value);
    padding: 30px;
    margin-top: 2%;
    position: relative;
    width: 90%;
}

.work-examples a {
    flex: 1;
}

.work-examples a img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: 0% 0%;
}

.work-examples label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vh;
    text-align: center;
    width: 30%;
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    padding: 1vh;
    border-radius: var(--border-radius-value);
}

.work-examples article:not(:first-child) label{
    width: 60%;
}

.work-examples article:not(:first-child) {
    width: 44%;
    margin: 2% 1%;
}
/* END WORK */

/* BEGIN CONTACT ME */
.contact-me {
    background-color: var(--quaternary-color);
    display: flex;
    justify-content: space-between;
}

.contact-me h2 {
    margin-bottom: 6%;
}

.contact-me div {
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 8%;
}

.contact-me div h3 {
    font-size: 5vh;
    margin-bottom: 6%;
}

.contact-me div address {
    font-size: 3vh;
}

.contact-me div address a {
    text-decoration: none;
    font-weight: 600;
    color: var(--primary-color);
}
/* END CONTACT ME */

/* BEGIN FOOTER */
footer {
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer div {
    padding: 5px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h2 {
    margin-top: 11px;
}

footer p {
    font-size: 20px;
    margin-top: 16px;
}

footer a {
    font-size: 18px;
}
/* END FOOTER */